@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    
    font-family: fontelogo;
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

/*Configuração do corpo do site*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}
a{
    color: #000000;
    text-decoration: none;
}

div#interface{
    width: 1200px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}
section#corpo {
    display: block;
    width: 700px;
    float: left;
    border-right: 1px solid #606060;
    padding: 15px;
}
article#noticiaprincipal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
/*Configuração do corpo do site*/

/*Configuração do cabeçalho*/

header#cabecalho img#icone{
    position: absolute;
    left: 1100px;
    top: 75px;
}
header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}
header#cabecalho h1{
    font-family:"fontelogo";
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2{
    -family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

p{  
    text-align: justify;
    text-indent: 50px;

}

/*configuração da imagens*/
figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;

}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;

}
/*configuração da imagens*/

/*Formatação do menu*/
nav#menu {
    display: block;
    
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 575px;

}
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: 1s;
}
nav#menu li:hover{
    background-color: #606060;
}
nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: #ffffff;
    text-decoration: underline;
}

header#cabecalho-artigo h1 {
    font-family:"fontelogo",sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
}
header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
    
}
header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
    
}
.direita{
    text-align: right;
}
/*Formatação do menu*/

/*Formatação da tabela*/

table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td{
   
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

table#tabelaspec td.cd{
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;

}
table#tabelaspec td.ce{
    background-color: #cecece;

}
table#tabelaspec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bold;
}

table#tabelaspec caption span{
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}
/*Formatação da tabela*/

/*Formatação da lateral do site*/
aside#lateral{
    display: block;
    width: 440px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
aside#lateral h1{
    font-family: "fontelogo",sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}
aside#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
    
}
/*Formatação da lateral do site*/

/*formatação do rodape*/
footer#rodape{
    border-top: 1px solid #606060;
    clear: both ;
    
}
footer#rodape p{
    text-align: center;
}
/*Formatação do rodape*/


