@charset "UTF-8";
section#conteudo {
    width: 1000px;
    margin: auto;
}
iframe#frame-spec {
    width: 430px;
    height: 280px;
    border: none;
    overflow-x: hidden;
    
}
iframe#frame-spec::-webkit-scrollbar{
 display: none;
    
}